*{
    margin:0;
padding: 0;
color: #fff;
font-family: 'Supreme', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

section {
    overflow: hidden;
    height: 100vh;
    background-color: #0B121E; 
}

ul {
    text-decoration: none;
    list-style: none; 
}

li {
      border-radius: 10px;
    background-color:#d9d9d931;
    padding: 3px;
    height: 35px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    list-style-type: none;
}
#ASK{ 
       display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
     border-radius: 10px;
        height: 35px;
    width: 45px;
    background-color:  #EF961A;
}

aside{
    border-radius: 15px;
    background-color:#d9d9d91f;
    width: 25px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    padding: 15px;
    margin-left: 45px;
    margin-top: 15px;
}


.center{
    width:600px ;
    height: 475px;
     border-radius: 15px;
    background-color: #d9d9d91f;
    position: relative;
    margin-top: 25px;
    margin-left: 200px;
    padding-top: 50px;
    padding-left: -25px;
    display: flex;
    flex-direction: column;
}

.topHighlits{
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
   height: 250px;
    background-color:#d9d9d931 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#temp{    color:  #EF961A;}
.bottomLeftHL{
    margin-top: 75px;

}
.dayHistory{
     display: flex;
    width: 600px;
    margin-top: 10px;
     margin-left: 10px;
    align-items: center;
 justify-content: space-evenly;
}
.packet{
    border-radius: 15px;
    background-color:#d9d9d931;
    width: 150px;
    height: 150px;
    margin: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.pastHIstory{
    padding-top: 25px;
    top: 25px;
    position: absolute;
     margin-left: 900px;
       border-radius: 15px;
    background-color:#d9d9d91f;
    width: 275px;
    height: 525px;
}

.templet{
      /* padding-top: 25px; */
    margin-top: 15px;
    margin-left: 63px;
       border-radius: 15px;
    background-color:#d9d9d931 ;
    width: 150px;
    height: 150px;
    display: flex;
padding-left: 15px;
}

.pastTEmp{
    margin-top: 25px;
}

.pastseen{
           border-radius: 15px;
    width: 75px;
    margin-left: 25px;
    margin-top: 50px;
}